.TheList{
    width:100%;
    position:relative;
    perspective-origin:50% 50%;
    perspective: 50vw;
    top:0;
    left:0;
    overflow-y:scroll;
    background: url("../media/fon.jpeg");
}
.TheList__Wrapper{
    position:relative;
    width:100%;
    transform-style:preserve-3d;
    padding-right:5vw;
    padding-top:10vw;
    padding-bottom:20vw;
    box-sizing:border-box;
}
.TheList__List{
    display:flex;
    align-items:flex-end;
    flex-direction:column;
    margin:0;
    padding:0;
    transform-style:preserve-3d;
    list-style-type:none}
.TheList li{
    padding-top:50px;
    margin:0;
    transition:transform 1.5s cubic-bezier(.075,.82,.165,1);
    transform-origin:right center;
    transform-style:preserve-3d;
    transform:rotateY(-45deg) translateZ(0) scale(1)
}
.TheList a{
    text-align:right;
    text-decoration:none;
    position:relative;
    display:block
}
.TheList li:hover{
    transform:rotateY(-35deg) translateZ(0) scale(1);
    transition-duration:1s
}
.TheList .TheList__Title{
    letter-spacing:.5vw;
    font-family: 'Open Sans', sans-serif;
    line-height:10vw;
    transition:.3s color ease;
    padding-left:3vw;
    margin-left:2vw;
    position:relative;
    font-size:12vw;
    font-weight:900;
    color:white;
    text-transform:uppercase;
    -webkit-text-stroke:.2vw white
}

.TheList a:hover .TheList__Title{
        color:transparent
}
.TheList a:hover .TheList__Title::before{
    transform:skewX(-15deg) translate3d(0,-20vw,0)
}
