.header{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: black;
    overflow: hidden;
}
.header #bg{
    position: absolute;
    width:100%;
    height: 100%;
    top: 0;
    left: 0;
    background:url(../media/fon.jpeg) ;
    background-size: 100%;
}

.about,.testimonials{
    width: 100%;
    position: relative;
    display: flex;
}
.about .contentBx,.testimonials .contentBx{
    background: white;
    color: black;
    width: 50%;
    padding: 100px;
}
.heading{
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 10px;
    letter-spacing: 1px;
}
.about .text, .testimonials text{
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1px;
}
.about .imgBx,.testimonials .imgBx{
    width: 50%;
    background-size: 100%;
    background-position: center;
}
.about .imgBx{
    background: url("https://scontent-lhr8-1.cdninstagram.com/v/t51.2885-15/sh0.08/e35/s750x750/88198413_1138758413183053_6300898270525546636_n.jpg?_nc_ht=scontent-lhr8-1.cdninstagram.com&_nc_cat=101&_nc_ohc=iWAxh3AGlqsAX983vWd&oh=37365d79c2a49f56e108aded14871746&oe=5EAF8C50") no-repeat;
}
.testimonials .imgBx{
    
    background: url("https://scontent-lht6-1.cdninstagram.com/v/t51.2885-15/e35/s1080x1080/91504236_550060075641335_7613391829890924121_n.jpg?_nc_ht=scontent-lht6-1.cdninstagram.com&_nc_cat=111&_nc_ohc=BOldfyhPeeoAX9533cT&oh=7bd48ad5b2c8910f0a4edc751c257480&oe=5EAE264B")
}
.services{
    background: #000000;
    padding: 100px;
    text-align: center;
}
.services .heading{
    color: white;
}
.serviceContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 60px;
}
.serviceContainer .serviceBx{
    position: relative;
    background: black;
    width: 350px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.services .text{
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1px;
    color: white;
}
.serviceBx:hover h2{
    color: white;
    z-index: 1;
    position: absolute; 
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
}
.serviceBx img{
    position: absolute;
    transition: 0.5s ease;
    opacity: 0.6;
}
.serviceBx .secondImg{
    width: 160%;
}
.serviceBx .thirdImg{
    width: 100%;
}
.serviceBx:hover img{
    webkit-filter: blur(4px);
    filter: blur(4px);
}

