.navbar{
    width: 100%;
    height: 7vh;
    background: black;
}
.navLinks{
    display: flex;
    width: 30%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    
}
.navLinks li{
    height: 100%;
    text-align: center;
    vertical-align: center;
    list-style: none;
}
.navLinks li:hover{
    color: black;
    background: white;
}
.link{
    text-decoration: none;
    font-weight: 600;
    color: white;
     height: 100%;
}
