.menu-icon{
    color: white;
    position: absolute;
    font-size: 30px;
    left: 42px;
    top:24px;
    cursor: pointer;
    z-index: 1;
}
.menu-container{
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, .8);
    overflow: hidden;
    transition: .5s ease-in-out;
}
.menu-content{
    position: relative;
    top: 25%;
    overflow: hidden;
}
.menu-content .link{
    color: white;
    text-decoration: none;
    padding: 16px;
    font-size: 20px;
    display: block;
    text-transform: uppercase;
}
.menu-content .link:hover{
    color: black;
    background: rgba(255, 255, 255, 1)
}
.menu-container .closeBtn{
    color: white;
    z-index: 1;
    position: absolute;
    top:36px;
    right: 48px;
    font-size: 30px;
    cursor: pointer;
}
