body{
  background-image: url("./fon.jpeg");
  width: 100%;
  height: 100vh;
}
.logo{
  width: 50%;
}
.imgWrapper{
  position: relative;
  width: 90%;
  margin: 0% auto;
  vertical-align: center;
  text-align: center;
}